<h1><%= link_to 'Pizza Cluster', 'pizzacluster'%></h1>

<p>
  <tr>
    <td><%= link_to 'Pizza Browsing', 'menu' %></td>
    <td><%= link_to 'Ordering Online', 'order' %></td>
    <td><%= link_to 'Login/Register',  'logins' %></td>
  </tr>
</table>
</p>