<html>
<h1><%= link_to 'Pizza Cluster', 'pizzacluster'%></h1>
<p>
  <tr>
    <td><%= link_to 'Pizza Browsing', 'menu' %></td>
    <td><%= link_to 'Ordering Online', 'order' %></td>
    <td><%= link_to 'About',  'info' %></td>
  </tr>
</table>
</p>
<style>

h1{
  text-align: center;
  font-family: monospace;
  font-size: 50px;
}

</style>
</html>
