<div id = "main_content_wrapper" class = "w3-container">
<div id = "text_wrapper">
  <div id = "title" class ="w3-container w3-blue">
    <h1> ABOUT </h1>
  </div>
<p> Pizza Cluster is a website dedicated for online pizza orders from a vast variety of pizza restaurants.
  Once users create an account, they can edit their information, personalize their preferences, bookmark
  their favourite restaurants and save their previous orders and reorder with just one click!
</p>
<p>
  If the users are not sure about what they want, they can browse through the menu and use special
  filters (e.g. price, distance, rating...) to find the best fitting restaurant for them.
  Additionally, the users get exclusive limited offers specifically based on their preferences and order history.
  Last but not least, users can track their order live through the order tracker.
</p>
<p>
  All in all, Pizza Cluster provides unique personalization settings that makes ordering pizza lightning-fast
  for those who know exactly what they want and provides vast amount of options for the pizza lovers out there
  who want to explore new stuff.
</p>
</div>
</div>
