<div id = "main_content_wrapper" class = "w3-container">
<div id = "text_wrapper">
  <div id = "title" class ="w3-container w3-blue">
    <h1> CONTACT US </h1>
  </div>
  <div class = "w3-container w3-grey nameTag"
<p> Ugur Akin:</br>
</div>
  Student ID: 301 269 722 &emsp; &emsp;
  E-mail: uakin@sfu.ca
</p>
<div class = "w3-container w3-grey nameTag"
<p> Rishabh Thanki:</br>
</div>
Student ID: 301 270 143 &emsp; &emsp;
E-mail: rthanki@sfu.ca
</p>
<div class = "w3-container w3-grey nameTag"
<p> Arsalan Macknoija:</br>
</div>
Student ID: 301 294 147 &emsp; &emsp;
E-mail: amacknoj@sfu.ca
</p>
<div class = "w3-container w3-grey nameTag"
<p> Liam Ling:</br>
</div>
Student ID: 301 250 516 &emsp; &emsp;
E-mail: kla121@sfu.ca
</p>
<div class = "w3-container w3-grey nameTag"
<p> Raghav Mittal:</br>
</div>
Student ID: 301 307 947 &emsp; &emsp;
E-mail: rmittal@sfu.ca
</p>

</div>
</div>
