

		<div id = 'main_content_wrapper' class = 'w3-container main_wrapper'>
			<div id = "address_block_wrapper">
				<div id = 'search_bar_wrapper'>
					<%= text_field_tag 'address',nil, placeholder: 'Enter your address...', onFocus: "hideBtn()" %>
					
				</div>

				<div id = "map_wrapper">
					<div id = "map"></div>
					<script>
						var map, autocomplete, geocoder, validAddress;
						function hideBtn(){
							document.getElementById("find_btn").style.display = 'none';
						}
						function showBtn(){
							document.getElementById("find_btn").style.display = 'block';
						}
						function initMap(){
							//if(!map)
							var sfuLoc = {lat:49.277771, lng:-122.919857 };
							map = new google.maps.Map(document.getElementById("map"), { zoom: 14, center: sfuLoc});

							var addressBar = document.getElementById("address");
							autocomplete = new google.maps.places.Autocomplete(addressBar);
							autocomplete.addListener('place_changed',gotoAddress)

							geocoder = new google.maps.Geocoder();
						}
						function gotoAddress(){
							var address = autocomplete.getPlace();
							geocoder.geocode( { 'placeId': address.place_id}, function(results, status) {
								if (status == 'OK') {
									map.setCenter(results[0].geometry.location);
									var marker = new google.maps.Marker({
										map: map,
										position: results[0].geometry.location
									});
									showBtn();

								} else {
									alert('Geocode was not successful for the following reason: ' + status);
								}
							});
						}
					</script>
					<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJdFKsLRGgZyPJrAiFvRSSlT060EFUPlo&libraries=places&callback=initMap"
					type="text/javascript"></script>
				</div>
				<%= link_to 'Find Restaurants', 'restaurants', class: 'w3-btn w3-blue', id: "find_btn" %>


			</div>
		</div>


