/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#main_wrapper{
	height: 100%;
 	width: 100%;
 	min-height: 1500px;
}

 #main_wrapper{
 	z-index: -1;
 }

#header{
	text-align: center;
}

 #header_wrapper{
 	display: inline-block;
 	width: 100%
 }

 #logo_wrapper{
 	display:inline-block;
 	text-align: center;
 }

#title_wrapper{
	display:inline-block;
	text-align: center;
	font-size: 75pt;
}
#filler_wrapper{
	display: inline-block;

}
 #login_button{
 	float: right;
 }

#yield_wrapper{
	margin-top: 50px;
	height: 100%;
	width: 100%;
}

 /*h1{
 	font-size: 36px;
	line-height: 40px;
	margin: 1em 0 .6em 0;
	font-weight: normal;
	color: white;
	font-family: 'Hammersmith One', sans-serif;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
	position: relative;
	color: #a4f;
 }*/

 /*html{
	background-image: url(bg.png);
 }*/