// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#main_content_wrapper{
	text-align: center;
}
#address_block_wrapper{
	display: inline-block;
	margin: 0 auto;

}

#find_btn{
	display: none;
	width: 100%;
	background-size: 100%;
}

#address{
	display: inline-block;
	width: 470px;
	box-sizing: border-box;
	border: 2px solid #1609A8;
	border-radius: 4px;
	font-size: 17px;
	background-color: white;
	background-position: 10px 10px;
	background-repeat: no-repeat;
	padding: 5px 20px 5px 20px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}
#map{
	width: 100%;
	height: 345px;
}