// Place all the styles related to the pizzacluster controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
  color: red;
  text-align: center;
  font-family: monospace;
  font-size: 50px;
}
