

<h1 style="font-family:courier;">Checkout</h1>
<div class="gallery">
  <a target="_blank">
    <img src="https://st3.depositphotos.com/1915171/12777/v/450/depositphotos_127771820-stock-illustration-free-delivery-sign-icon-delivery.jpg" alt="Mountains" width="300" height="200">
  </a>
  <div class="desc"><b>DELIVERY</b></div>
</div>

<div class="gallery">
  <a target="_blank">
    <img src="https://previews.123rf.com/images/blankstock/blankstock1501/blankstock150102580/35357773-Take-away-sign-icon-Takeaway-food-or-coffee-drink-symbol-Gray-flat-square-button-with-shadow-Modern--Stock-Vector.jpg" alt="Mountains" width="300" height="200">
  </a>
  <div class="desc"><b>CARRYOUT</b></div>
</div>
