<!DOCTYPE html>
<html>
<head>
<style>

Body { background-image: url("https://www.clipartsgram.com/image/2123723046-jenny-smiths-lds-ideas-pizza.gif");}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

</style>
</head>
<body>


<ul>
  <li><a class="active" href="#home">Pizza Cluster</a></li>
  <li><a href="#news">Menu</a></li>
  <li><a href="#contact">Contact</a></li>
  <li style="float:right"><a href="#about">LOGIN</a></li>
</ul>
</br></br>

<h1 style="font-family:courier;">Menu</h1>
<h2 style="font-family:courier;">BUILD YOUR OWN:</h2>

<div class="gallery">
  <a target="_blank" href="ORDER PAGE">
    <img src="https://cache.dominos.com/nolo/ca/en/03070/assets/build/market/CA/_en/images/img/products/thumbnails/S_PIZDX.jpg" alt="Mountains" width="300" height="200">
  </a>
  <div class="desc"><b>PIZZA</b></div>
</div>

<div class="gallery">
  <a target="_blank" href="ORDER PAGE">
    <img src="https://cache.dominos.com/nolo/ca/en/03070/assets/build/market/CA/_en/images/img/products/thumbnails/F_PARM.jpg" alt="Mountains" width="300" height="200">
  </a>
  <div class="desc"><b>COMPLETE MEAL</b></div>
</div>

</br></br></br></br></br></br></br></br></br></br></br></br>

<h2 style="font-family:courier;">MOST POPULAR:</h2>

<div class="gallery">
   <a target="_blank" href="ORDER PAGE">
    <img src="https://cache.dominos.com/nolo/ca/en/03070/assets/build/market/CA/_en/images/img/products/thumbnails/S_PIZVX.jpg" alt="Fjords" width="300" height="200">
  </a>
  <div class="desc"><b>VEGGIE FEAST</div>
</div>

<div class="gallery">
  <a target="_blank" href="ORDER PAGE">
    <img src="https://lh3.googleusercontent.com/Ja8Jh1209X0rDPV8L7fUz6jjxqM8ph7K9mlV8oP81N1S3dY5cPzND09FZTjqxUUD_VBI=s98" alt="Forest" width="300" height="200">
  </a>
  <div class="desc">BBQ CHICKEN</div>
</div>

<div class="gallery">
   <a target="_blank" href="ORDER PAGE">
    <img src="https://cache.dominos.com/nolo/ca/en/03070/assets/build/market/CA/_en/images/img/products/thumbnails/S_PIZCA.jpg" alt="Northern Lights" width="300" height="200">
  </a>
  <div class="desc">CANADIAN PIZZA</div>
</div>

<div class="gallery">
   <a target="_blank" href="ORDER PAGE">
    <img src="https://cache.dominos.com/nolo/ca/en/03070/assets/build/market/CA/_en/images/img/products/thumbnails/S_PIZHX.jpg" alt="Mountains" width="300" height="200">
  </a>
  <div class="desc">HAWAIIAN</div>
</div>

<div class="gallery">
  <a target="_blank" href="ORDER PAGE">
    <img src="https://cache.dominos.com/nolo/ca/en/03070/assets/build/market/CA/_en/images/img/products/thumbnails/S_PIZPX.jpg" alt="Mountains" width="300" height="200">
  </a>
  <div class="desc">PEPPERONI</div>
</div>

<div class="gallery">
   <a target="_blank" href="ORDER PAGE">
    <img src="https://cache.dominos.com/nolo/ca/en/03070/assets/build/market/CA/_en/images/img/products/thumbnails/S_PIZCBR.jpg" alt="Mountains" width="300" height="200">
  </a>
  <div class="desc">BACON RANCH</b></div>
</div>


</br></br></br></br></br></br></br></br></br></br></br></br>



<h2 style="font-family:courier;">DRINKS:</h2>

<div class="gallery">
   <a target="_blank" href="ORDER PAGE">
    <img src="https://cache.dominos.com/nolo/ca/en/03070/assets/build/market/CA/_en/images/img/products/thumbnails/F_COKE.jpg" alt="Northern Lights" width="300" height="200">
  </a>
  <div class="desc"><b>COKE</div>
</div>

<div class="gallery">
  <a target="_blank" href="ORDER PAGE">
    <img src="https://cache.dominos.com/nolo/ca/en/03070/assets/build/market/CA/_en/images/img/products/thumbnails/F_ZERO.jpg" alt="Mountains" width="300" height="200">
  </a>
  <div class="desc">DIET COKE</div>
</div>

<div class="gallery">
  <a target="_blank" href="ORDER PAGE">
    <img src="https://cache.dominos.com/nolo/ca/en/03070/assets/build/market/CA/_en/images/img/products/thumbnails/F_SPRITE.jpg" alt="Mountains" width="300" height="200">
  </a>
  <div class="desc">SPRITE</div>
</div>

<div class="gallery">
   <a target="_blank" href="ORDER PAGE">>
    <img src="https://cache.dominos.com/nolo/ca/en/03070/assets/build/market/CA/_en/images/img/products/thumbnails/F_GingerAl.jpg" alt="Mountains" width="300" height="200">
  </a>
  <div class="desc">GINGER ALE</div>
</div>

<div class="gallery">
    <a target="_blank" href="ORDER PAGE">
    <img src="https://cache.dominos.com/nolo/ca/en/03070/assets/build/market/CA/_en/images/img/products/thumbnails/F_WATER.jpg" alt="Mountains" width="300" height="200">
  </a>
  <div class="desc">WATER</b></div>
</div>




</body>
</html>
