<html>
	<h1><%= link_to 'Pizza Cluster', 'pizzacluster'%></h1>
	<h3>Pizza Broswing</h3>
		<head>
		<style>


		h1{
		  color: white;
		  text-align: center;
		  font-family: monospace;
		  font-size: 50px;
		}

		input[type=text] {
		    width: 130px;
		    box-sizing: border-box;
		    border: 2px solid #1609A8;
		    border-radius: 4px;
		    font-size: 13px;
		    background-color: white;
		    background-position: 10px 10px;
		    background-repeat: no-repeat;
		    padding: 12px 20px 12px 40px;
		    -webkit-transition: width 0.4s ease-in-out;
		    transition: width 0.4s ease-in-out;
		}

		input[type=text]:focus {
		    width: 100%;
		}
		</style>
		</head>
	<body>
		<form>
	  		<input type="text" id="search" name="search" onkeyup="searchfunction()" placeholder="Search..">
				<ul id="restaurantlist">
				  <li><a href="#">Dominos</a></li>
				  <li><a href="#">Pizza Hut</a></li>
				  <li><a href="#">Arnold's Pizza shop</a></li>
				  <li><a href="#">Ugur's Pizzeria(Best)</a></li>
				  <li><a href="#">Marcello Pizzeria</a></li>
				  <li><a href="#">Francesco's Ristorante Italia</a></li>
				  <li><a href="#">Boston Pizza</a></li>
			</ul>
		</form>
		<table>
			<tr> Restaraunts in your area</tr>
		</br>
			<tr> Dominos</tr>

		</table>
	</body>

<style>

	h1{
		text-align: center;
		font-family: monospace;
		font-size: 50px;
	}

</style>

<script>
function searchfunction() {

    var input, filter, ul, li, a, i;
    input = document.getElementById('search');
    filter = input.value.toUpperCase();
    ul = document.getElementById("restaurantlist");
    li = ul.getElementsByTagName('li');

    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>

</html>
